# See https://help.github.com/ignore-files/ for more about ignoring files.

*~
README_REACT.md
.eslintrc
.eslintrc.json

/.vscode
/src/fonts
/test

# dependencies
/node_modules

# production
/build

npm-debug.log*
