#add-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    padding: 20px;
    background-color: #EFECEB;
    border-radius: 10px;
    box-shadow: -3px 3px 15px 4px #666666;
}

#add-form table {
    margin: auto;
    text-align: left;
    color: #58747E; 
}

#add-form table input {
    box-sizing: border-box;
    width: 100%;
    height: 1,5em;
    border: none;
    padding: 5px;
}

#add-form select {
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    border: none;
    background-color: white;
}

#add-form table input[type=submit] {
    color: white;
    box-align: right;
    text-align: right;
    margin: 4px;
    padding: 5px;
    background-color: #58747E;
    border: none;
    font-weight: normal;
}

#add-form input[type=submit]:hover,
#add-form input[type=submit]:focus,
#add-form input[type=submit]:active {
    color: white;
    margin: 4px;
    padding: 5px;
}

.close-X {
    position: absolute;
    top: 0px;
    right: 3px;
    padding: 0;
    color: #58747E;
    margin: 2px;
    background: transparent;
    border: none;

}



