.table-spendings {
    text-align: left;
    margin: auto;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

.table-spendings td,
.table-spendings th {
    background-color: #EFECEB;
    border: 2px white solid;
    padding: 4px;

}

.table-spendings .cell-amount {
    text-align: right;
    min-width: 5em;
}

