.menu-action {
    color: #58747E;
    font-weight: bold;
    /*background-color: #EFECEB;*/
    /*width: 70%;
    border-radius: 6px;*/
    padding: 2px;
    margin: 5px;
}

button.add-pos-btn {
    color: #EFECEB;
    background-color: #58747E;
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 2px 7px 2px 7px;
    
}

button.add-pos-btn:hover,
button.add-pos-btn:focus,
button.add-pos-btn:active {
    box-shadow: -2px 2px 10px #a6a6a6;
    padding: 2px 7px 2px 7px;
}

button.add-pos-btn:hover {
    cursor: pointer;
}

.table-spendings {
    text-align: left;
    margin: auto;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

.table-spendings td,
.table-spendings th {
    background-color: #EFECEB;
    border: 2px white solid;
    padding: 4px;

}

.table-spendings .cell-amount {
    text-align: right;
    min-width: 5em;
}

