@import "../../variables.scss";

#tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.tile {
  position: relative;
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 550px;
  height: 230px;
  background-color: $light-background;
  border-radius: 2px;
  border: 1px dashed $primary-color-1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  margin: 10px;
}

.arrow {
    width: 10px;
}

.arrow-up {
    position: relative;
    bottom: 10px;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .arrow-down {
    font-size: 0.1em;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }


.table-spendings {
    text-align: left;
    margin: auto;
    width: 100%;
    min-width: 200px;
    max-width: 400px;

}

.table-spendings td,
.table-spendings th {
    border-bottom: 1px solid black;
    padding: 4px;

}

.table-spendings .cell-amount {
    text-align: right;
    min-width: 5em;
}

.table-spendings-history {
    width: 100%;
}

.close-tile {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1em;
    color: $primary-color-1;
    border-radius: 5px;
    border: none;
}

.table-spendings-history td {
    padding: 2px;
}

#piechart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    height: 150px;
}