#tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

.tile {
  width: 400px;
  height: 230px;
  background-color: #FAFAFA;
  border-radius: 2px;
  border: 1px dashed #58747E;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  margin: 10px;
}

#dashboard h4 {
  color: #7E6258;
}


.arrow-up {
    position: relative;
    bottom: 10px;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .arrow-down {
    font-size: 0.1em;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

  .table-row-single-spendings-pos td {
    color: #7E6258;
    background-color: white;
    border: 2px solid black;
    font-size: smaller;
    text-indent: 1em;
  }