#tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

.tile {
  width: 400px;
  height: 230px;
  background-color: #FAFAFA;
  border-radius: 2px;
  border: 1px dashed #58747E;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  margin: 10px;
}

#dashboard h4 {
  color: #7E6258;
}


.arrow-up {
    position: relative;
    bottom: 10px;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .arrow-down {
    font-size: 0.1em;
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }


.table-spendings {
    text-align: left;
    margin: auto;
    width: 100%;
    min-width: 200px;
    max-width: 400px;

}

.table-spendings td,
.table-spendings th {
    border-bottom: 1px solid black;
    padding: 4px;

}

.table-spendings .cell-amount {
    text-align: right;
    min-width: 5em;
}

.table-row-single-spendings-pos td {
    color: #7E6258;
    font-size: smaller;
    text-indent: 1em;
}

#piechart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
}