#tilesSettings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#settings {

    table {
        tr {
            text-align: left;
        }
        
        td {
            padding: 6px 8px 6px 8px;
        }
    }

    .prefTitle {
        font-weight: bold;
        vertical-align: top;
    }
    
    .btnDelete {
        background: none;
        border: none;
    }
    
    .reducedPadding td {
        padding: 1px 8px 1px 8px;
    }
}



