#tilesSettings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#settings table tr {
    text-align: left;
}

#settings table td {
    padding: 6px 8px 6px 8px;
}

#settings .prefTitle {
    font-weight: bold;
    vertical-align: top;
}

#settings .btnDelete {
    background: none;
    border: none;
}

#settings .reducedPadding td{
    padding: 1px 8px 1px 8px;
}

