#tilesSettings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.tileSetting {
    width: 95%;
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px dashed #58747E;
    overflow-x: hidden;
    padding: 5px;
    margin: 10px;
}

#settings table td {
    padding: 8px;
}

