/**
 * Import Fonts
 */


 @font-face {
    font-family: 'rubik-regular';
    src: url('./fonts/rubik/rubik-regular-webfont.woff2') format('woff2'),
        url('./fonts/rubik/rubik-regular-webfont.woff') format('woff'),
        url('./fonts/rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: white;
    font-family: 'rubik-regular', sans-serif;
    margin: 0;
    padding: 0;
}

#main-container {
   display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px auto;
}

/*****************/
/**** Header *****/
/*****************/

header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: #58747E;
    color: #f1f4f4;   
}

header button {
    color: #f1f4f4;
    font-family: 'rubik-regular', sans-serif;
    font-size: 18px;
    margin: 13px 10px 10px 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: normal;
}

header button:hover,
header button:focus,
header button:active {
    color: white;
    margin: 13px 10px 10px 10px;
    padding: 0;

}

.menu-item-headline {
    color: #58747E;
    grid-column: 1 / 3;
}

.box {
    /*justify-self: stretch;*/
    border: 1px solid black;
    text-align: center;
}

/*****************/
/**** Sidebar ****/
/*****************/

#sidebar {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*background-color: greenyellow; */
}

.nav-icon {
    cursor: pointer;
}

.nav-icon-side {
    margin: 15px;
}

.nav-icon-top {
    margin: 15px 15px 15px 0;
}


/*****************/
/*** Dashboard ***/
/*****************/

#dashboard {
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: start;
    align-content: stretch;
}

/* Display calender as additional column on wide screens */
@media all and (min-width: 750px) {
    #dashboard {
        grid-template-columns: auto 270px;
    }
}



